a{
    text-decoration: none;
}
.ulServices>a>li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #737074;
    list-style: none !important;
    padding: 0.5rem;
    border-radius: 6px;
}
.active{
    color: white !important;
    background-color: rgba(0, 0, 0, 0.26);
    
}